.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.pinkColor {
  color: "#ff1493";
} 
.paddingbottom {
  padding-bottom: 18px
}

.smallfont {
  font-size: 14px
}

.v1 {
  border-left: 2px solid #7a7a7a;
  border-radius: 2px
}
.preventOverflow {
  overflow-x: hidden
}

.scrollable {
  overflow-y: scroll; 
  height:300px;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
.spacebetween {
  padding-left: 4px
}

.paddingleft {
  padding-left: 18px
}
.docs {
  width: 700
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
}

.borderbox {
  width:800px;
  border: 2px dotted gray;
  padding: 25px;
  margin: 25px;
}

.borderbox1 {
  width:600px;
  border: 2px dotted gray;
  padding: 5px;
}

.pink {
  color: pink   
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
